table{
border-width: 5px;
border-style: solid;
border-color: rgb(167, 167, 231);
}
td{
    padding: 40px;
}
h2,ul,li,a{
display: inline-block;
padding:5px;
}
div{
    background: rgb(231, 231, 129);
    
}
h2{
    margin-left: 40%;
}
ul{
    margin-left: 35%;

}
li{
    margin-left: 20px;
}
img{
    margin-left: 300px;
}
li:hover,a:hover{
    background-color: bisque;
}
body{

    background-image: url("/images/bgimg\ india.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}